target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Log ###
*.log

### Mac/Windows ###
.DS_Store
Thumbs.db
application-dev.ymla